#ignore folder
news/*
news_crawler/page_contents_extracted/
news_crawler/page_contents_raw/
news_crawler/page_links/
stanford-corenlp-python/
stanford-corenlp-full-2018-02-27/
node_modules/
page_contents_extracted.rar
package-lock.json
stanford/*
#ignore workspace
Workspace TA.code-workspace
.vscode/settings.json
*.pyc